@import "foo.css";
@import "foo" screen;
@import "http://foo.com/bar";
@import url(foo);
@import url("https://fontapi.example.com/css?family=Source+Sans+Pro:wght@300;400;700&display=swap");
/* line 1, inputs/imports/simple.scss */
div {
  height: 200px;
  color: red; }

/* line 12, inputs/import.scss */
pre {
  color: red; }

/* line 1, inputs/imports/simple.scss */
pre div {
  height: 200px;
  color: red; }

/* line 17, inputs/import.scss */
/* line 1, inputs/imports/simple.scss */
code div {
  height: 200px;
  color: red; }

/* line 1, inputs/imports/simple.scss */
code div {
  height: 200px;
  color: red; }

/* line 2, inputs/imports/_partial.scss */
#partial {
  color: blue; }

/* line 23, inputs/import.scss */
body {
  color: #7C2;
  background: gray; }

/* line 1, inputs/imports/plain.css */
a:before {
  content: ''; }

/* line 5, inputs/imports/plain.css */
div::before {
  content: ':)'; }

@keyframes spin {
/* line 10, inputs/imports/plain.css */
  0% {
    transform: rotate(0deg); }

/* line 13, inputs/imports/plain.css */
  100% {
    transform: rotate(359deg); } }
/* line 18, inputs/imports/plain.css */
.fancybox-is-hidden {
  position: absolute !important; }

/* line 22, inputs/imports/plain.css */
.fancybox-navigation .fancybox-button {
  transition: opacity 0.25s ease, visibility 0s ease 0.25s; }

@media (max-width: 576px) {
/* line 27, inputs/imports/plain.css */
  .fancybox-thumbs {
    width: 110px; } }
