/* line 11, inputs/map.scss */
div {
  color: black;
  color: red;
  foo: black, red, #00FF00;
  bar: color, length;
  baz: (color: white, color2: red, 'color3': #00FF00, length: 40em);
  foo: (length: 40em);
  bar: true; }

/* line 23, inputs/map.scss */
div {
  foo: color black;
  bar: color; }

/* line 32, inputs/map.scss */
.black {
  background-color: #000000 !important; }

/* line 32, inputs/map.scss */
.grey {
  background-color: #888888 !important; }

/* line 32, inputs/map.scss */
.white {
  background-color: #ffffff !important; }

/* line 53, inputs/map.scss */
div {
  a: 1;
  b: 2;
  color: 1;
  background-color: 2; }
