@charset "UTF-8";
/* line 1, inputs/scss_css.scss */
@import "foo.css";
@import 'foo.css';
@import url("foo.css");
@import url('foo.css');
@import url(foo.css);
@import "foo.css" screen;
@import "foo.css" screen, print;
@import "foo.css" screen, print and (foo: 0);
@import "foo.css" screen, only print, screen and (foo: 0);
@import "foo2.css";
@import "bar2.css";
@import "baz2.css";
[foo~=bar] {
  a: b; }

/* line 5, inputs/scss_css.scss */
[foo^=bar] {
  a: b; }

/* line 9, inputs/scss_css.scss */
[foo$=bar] {
  a: b; }

/* line 13, inputs/scss_css.scss */
[foo*=bar] {
  a: b; }

/* line 17, inputs/scss_css.scss */
[foo|=en] {
  a: b; }

/* line 21, inputs/scss_css.scss */
foo {
  a: 2;
  b: 2.3em;
  c: 50%;
  d: "fraz bran";
  e: flanny-blanny-blan;
  f: url(http://sass-lang.com);
  h: #abc; }

/* line 32, inputs/scss_css.scss */
selector {
  property: value;
  property2: value; }

/* line 37, inputs/scss_css.scss */
sel {
  p: v; }

/* line 39, inputs/scss_css.scss */
.foo {
  /* Foo
   Bar
   Baz */
  a: b; }

/* line 46, inputs/scss_css.scss */
.foo {
  /* Foo
   Bar
   Baz */
  a: b; }

/* line 53, inputs/scss_css.scss */
.foo {
  /* Foo
   Bar */
  a: b; }

/* line 58, inputs/scss_css.scss */
.foo {
  /* Foo
   Bar
   Baz */
  a: b; }

@foo {
  a: b;
/* line 65, inputs/scss_css.scss */
  rule {
    a: b; } }
@foo {
  a: b; }
@bar {
  a: b; }
@foo "bar"

foo {
  a: 12px calc(100%/3 - 2*1em - 2*1px);
  b: 12px -moz-calc(100%/3 - 2*1em - 2*1px);
  b: 12px -webkit-calc(100%/3 - 2*1em - 2*1px);
  b: 12px -foobar-calc(100%/3 - 2*1em - 2*1px); }
/* line 84, inputs/scss_css.scss */
foo {
  bar: baz; }

/* line 86, inputs/scss_css.scss */
bar {
  bar: baz; }

/* line 88, inputs/scss_css.scss */
baz {
  bar: baz; }

/*
 * foo
 */
/* line 94, inputs/scss_css.scss */
bar {
  baz: bang; }

/* line 97, inputs/scss_css.scss */
E, F {
  a: b; }

/* line 101, inputs/scss_css.scss */
E F, G H {
  a: b; }

/* line 105, inputs/scss_css.scss */
E > F, G > H {
  a: b; }

/* This is a CSS comment. */
/* line 110, inputs/scss_css.scss */
.one {
  color: green; }

/* Another comment */
/* The following should not be used:
 .two {color: red;} */
/* line 113, inputs/scss_css.scss */
.three {
  color: green;
  /* color: red; */ }

/**
 .four {color: red;} */
/* line 116, inputs/scss_css.scss */
.five {
  color: green; }

/**/
/* line 118, inputs/scss_css.scss */
.six {
  color: green; }

/*********/
/* line 120, inputs/scss_css.scss */
.seven {
  color: green; }

/* a comment **/
/* line 122, inputs/scss_css.scss */
.eight {
  color: green; }

/* line 125, inputs/scss_css.scss */
foo {
  a: \foo bar;
  b: foo\ bar;
  c: \2022 \0020;
  d: foo\\bar;
  e: foo\"\'bar; }

/* line 133, inputs/scss_css.scss */
foo {
  a: "\foo bar";
  b: "foo\ bar";
  c: "\2022 \0020";
  d: "foo\\bar";
  e: "foo\"'bar"; }

/* line 141, inputs/scss_css.scss */
foo {
  _name: val;
  *name: val;
  :name: val;
  .name: val;
  #name: val;
  name/**/: val;
  name/*\**/: val;
  name: val; }

@foo "bar"  ;

foo {
  a: -moz-element(#foo);
  b: -webkit-element(#foo);
  b: -foobar-element(#foo); }
@foo ;

foo {
  bar: baz; }
/* line 179, inputs/scss_css.scss */
0% {
  a: b; }

/* line 183, inputs/scss_css.scss */
60% {
  a: b; }

/* line 187, inputs/scss_css.scss */
100% {
  a: b; }

/* line 191, inputs/scss_css.scss */
12px {
  a: b; }

/* line 195, inputs/scss_css.scss */
foo {
  a: b; }

/* line 199, inputs/scss_css.scss */
foo {
  a: 12px expression(1 + (3 / Foo.bar("baz" + "bang") + function() {return 12;}) % 12); }

/* line 203, inputs/scss_css.scss */
:foo("bar") {
  a: b; }

/* line 207, inputs/scss_css.scss */
:foo(bar) {
  a: b; }

/* line 211, inputs/scss_css.scss */
:foo(12px) {
  a: b; }

/* line 215, inputs/scss_css.scss */
:foo(+) {
  a: b; }

/* line 219, inputs/scss_css.scss */
:foo(-) {
  a: b; }

/* line 223, inputs/scss_css.scss */
:foo(+"bar") {
  a: b; }

/* line 227, inputs/scss_css.scss */
:foo(-++--baz-"bar"12px) {
  a: b; }

/* line 231, inputs/scss_css.scss */
foo {
  a: foo-bar(12);
  b: -foo-bar-baz(13, 14 15); }

/* line 256, inputs/scss_css.scss */
foo {
  a: foo !important;
  b: foo bar !important;
  b: foo, bar !important; }

/* line 262, inputs/scss_css.scss */
foo {
  a: -moz-bar-baz;
  b: foo -o-bar-baz; }

/* line 267, inputs/scss_css.scss */
foo {
  a: d;
  /* b; c: */ }

/* line 270, inputs/scss_css.scss */
foo {
  a: d;
  /*: b; c */ }

/* Foo
 * Bar */
/* line 277, inputs/scss_css.scss */
.foo {
  /* Foo
   * Bar */ }

/* line 282, inputs/scss_css.scss */
[foo] {
  a: b; }

/* line 286, inputs/scss_css.scss */
[foo="bar"] {
  a: b; }

/* line 290, inputs/scss_css.scss */
[foo~="bar"] {
  a: b; }

/* line 294, inputs/scss_css.scss */
[foo^="bar"] {
  a: b; }

/* line 298, inputs/scss_css.scss */
[foo$="bar"] {
  a: b; }

/* line 302, inputs/scss_css.scss */
[foo*="bar"] {
  a: b; }

/* line 306, inputs/scss_css.scss */
[foo|="en"] {
  a: b; }

/* line 310, inputs/scss_css.scss */
:root {
  a: b; }

/* line 314, inputs/scss_css.scss */
:nth-child(n) {
  a: b; }

/* line 318, inputs/scss_css.scss */
:nth-last-child(n) {
  a: b; }

/* line 322, inputs/scss_css.scss */
:nth-of-type(n) {
  a: b; }

/* line 326, inputs/scss_css.scss */
:nth-last-of-type(n) {
  a: b; }

/* line 330, inputs/scss_css.scss */
:first-child {
  a: b; }

/* line 334, inputs/scss_css.scss */
:last-child {
  a: b; }

/* line 338, inputs/scss_css.scss */
:first-of-type {
  a: b; }

/* line 342, inputs/scss_css.scss */
:last-of-type {
  a: b; }

/* line 346, inputs/scss_css.scss */
:only-child {
  a: b; }

/* line 350, inputs/scss_css.scss */
:only-of-type {
  a: b; }

/* line 354, inputs/scss_css.scss */
:empty {
  a: b; }

/* line 358, inputs/scss_css.scss */
:link {
  a: b; }

/* line 362, inputs/scss_css.scss */
:visited {
  a: b; }

/* line 366, inputs/scss_css.scss */
:active {
  a: b; }

/* line 370, inputs/scss_css.scss */
:hover {
  a: b; }

/* line 374, inputs/scss_css.scss */
:focus {
  a: b; }

/* line 378, inputs/scss_css.scss */
:target {
  a: b; }

/* line 382, inputs/scss_css.scss */
:lang(fr) {
  a: b; }

/* line 386, inputs/scss_css.scss */
:enabled {
  a: b; }

/* line 390, inputs/scss_css.scss */
:disabled {
  a: b; }

/* line 394, inputs/scss_css.scss */
:checked {
  a: b; }

/* line 398, inputs/scss_css.scss */
::first-line {
  a: b; }

/* line 402, inputs/scss_css.scss */
::first-letter {
  a: b; }

/* line 406, inputs/scss_css.scss */
::before {
  a: b; }

/* line 410, inputs/scss_css.scss */
::after {
  a: b; }

/* line 414, inputs/scss_css.scss */
.warning {
  a: b; }

/* line 418, inputs/scss_css.scss */
#myid {
  a: b; }

/* line 422, inputs/scss_css.scss */
:not(s) {
  a: b; }

@media all {
/* line 427, inputs/scss_css.scss */
  rule1 {
    prop: val; }

/* line 430, inputs/scss_css.scss */
  rule2 {
    prop: val; } }

@media screen, print {
/* line 435, inputs/scss_css.scss */
  rule1 {
    prop: val; }

/* line 438, inputs/scss_css.scss */
  rule2 {
    prop: val; } }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
/* line 442, inputs/scss_css.scss */
  a: b; }
@media only screen, print and (foo: 0px) and (bar: flam(12px solid)) {
/* line 446, inputs/scss_css.scss */
  a: b; }
/* line 450, inputs/scss_css.scss */
:-moz-any(h1, h2, h3) {
  a: b; }

/* line 454, inputs/scss_css.scss */
:-moz-any(.foo) {
  a: b; }

/* line 458, inputs/scss_css.scss */
:-moz-any(foo bar, .baz > .bang) {
  a: b; }

@-moz-document url(http://www.w3.org/),
               url-prefix(http://www.w3.org/Style/),
               domain(mozilla.org),
               regexp("^https:.*") {
/* line 466, inputs/scss_css.scss */
  .foo {
    a: b; } }
/* line 470, inputs/scss_css.scss */
foo {
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#c0ff3300, endColorstr=#ff000000);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#c0ff3300, endColorstr=#ff000000); }

/* line 475, inputs/scss_css.scss */
foo {
  filter: alpha(opacity=20);
  filter: alpha(opacity=20, enabled=true);
  filter: blaznicate(foo=bar, baz=bang bip, bart=#fa4600); }

@foo bar {
  a: b; }
@bar baz {
  c: d; }
@foo bar;
@bar baz;


/* Foo
 * Bar */
/* Baz
 * Bang */


.foo {
  /* Foo
   * Bar */
  /* Baz
   * Bang */ }
/* line 505, inputs/scss_css.scss */
.foo {
  /* Foo Bar */
  /* Baz Bang */ }

@namespace "http://www.w3.org/Profiles/xhtml1-strict";

@namespace url(http://www.w3.org/Profiles/xhtml1-strict);

@namespace html url("http://www.w3.org/Profiles/xhtml1-strict");

[foo|bar=baz] {
  a: b; }
/* line 519, inputs/scss_css.scss */
[*|bar=baz] {
  a: b; }

/* line 523, inputs/scss_css.scss */
[foo|bar|=baz] {
  a: b; }

/* line 527, inputs/scss_css.scss */
foo|E {
  a: b; }

/* line 531, inputs/scss_css.scss */
*|E {
  a: b; }

/* line 535, inputs/scss_css.scss */
foo|* {
  a: b; }

/* line 539, inputs/scss_css.scss */
*|* {
  a: b; }

/* line 543, inputs/scss_css.scss */
:not(foo|bar) {
  a: b; }

/* line 547, inputs/scss_css.scss */
:not(*|bar) {
  a: b; }

/* line 551, inputs/scss_css.scss */
:not(foo|*) {
  a: b; }

/* line 555, inputs/scss_css.scss */
:not(*|*) {
  a: b; }

/* line 559, inputs/scss_css.scss */
:not(#blah) {
  a: b; }

/* line 563, inputs/scss_css.scss */
:not(.blah) {
  a: b; }

/* line 567, inputs/scss_css.scss */
:not(.blah) {
  a: b; }

/* line 571, inputs/scss_css.scss */
:not([foo]) {
  a: b; }

/* line 575, inputs/scss_css.scss */
:not([foo^="bar"]) {
  a: b; }

/* line 579, inputs/scss_css.scss */
:not([baz|foo~="bar"]) {
  a: b; }

/* line 583, inputs/scss_css.scss */
:not(:hover) {
  a: b; }

/* line 587, inputs/scss_css.scss */
:not(:nth-child(2n + 3)) {
  a: b; }

/* line 591, inputs/scss_css.scss */
:not(:not(#foo)) {
  a: b; }

/* line 595, inputs/scss_css.scss */
:not(a#foo.bar) {
  a: b; }

/* line 599, inputs/scss_css.scss */
:not(#foo .bar > baz) {
  a: b; }

/* line 603, inputs/scss_css.scss */
:not(#foo .bar > baz) {
  a: b; }

/* line 607, inputs/scss_css.scss */
:not(h1, h2, h3) {
  a: b; }

/* line 615, inputs/scss_css.scss */
foo {
  a: "bang 1 bar  bip"; }

/* line 619, inputs/scss_css.scss */
:nth-child(-n) {
  a: b; }

/* line 623, inputs/scss_css.scss */
:nth-child(+n) {
  a: b; }

/* line 627, inputs/scss_css.scss */
:nth-child(even) {
  a: b; }

/* line 631, inputs/scss_css.scss */
:nth-child(odd) {
  a: b; }

/* line 635, inputs/scss_css.scss */
:nth-child(50) {
  a: b; }

/* line 639, inputs/scss_css.scss */
:nth-child(-50) {
  a: b; }

/* line 643, inputs/scss_css.scss */
:nth-child(+50) {
  a: b; }

/* line 647, inputs/scss_css.scss */
:nth-child(2n+3) {
  a: b; }

/* line 651, inputs/scss_css.scss */
:nth-child(2n-3) {
  a: b; }

/* line 655, inputs/scss_css.scss */
:nth-child(+2n-3) {
  a: b; }

/* line 659, inputs/scss_css.scss */
:nth-child(-2n+3) {
  a: b; }

/* line 663, inputs/scss_css.scss */
:nth-child(-2n+ 3) {
  a: b; }

/* line 667, inputs/scss_css.scss */
:nth-child(2n + 3) {
  a: b; }

/* line 671, inputs/scss_css.scss */
foo {
  a: foo bar baz;
  b: foo, #abc, -12;
  c: 1px/2px/-3px;
  d: foo bar, baz/bang; }

@page {
  prop1: val;
  prop2: val; }
@page flap {
  prop1: val;
  prop2: val; }
@page :first {
  prop1: val;
  prop2: val; }
@page flap:first {
  prop1: val;
  prop2: val; }
/* line 698, inputs/scss_css.scss */
.foo {
  /* Foo */
  a: b; }

/* line 703, inputs/scss_css.scss */
.foo {
  /* Foo
   * Bar */
  a: b; }

/* Foo */
/* line 709, inputs/scss_css.scss */
.foo {
  a: b; }

/* Foo
 * Bar */
/* line 714, inputs/scss_css.scss */
.foo {
  a: b; }

/* line 718, inputs/scss_css.scss */
.foo #bar:baz(/* bang )*/ bip) {
  /* .a #foo */
  a: b; }

/* line 722, inputs/scss_css.scss */
> E {
  a: b; }

/* line 726, inputs/scss_css.scss */
+ E {
  a: b; }

/* line 730, inputs/scss_css.scss */
~ E {
  a: b; }

/* line 734, inputs/scss_css.scss */
> > E {
  a: b; }

/* line 738, inputs/scss_css.scss */
>> E {
  a: b; }

/* line 742, inputs/scss_css.scss */
E* {
  a: b; }

/* line 746, inputs/scss_css.scss */
E*.foo {
  a: b; }

/* line 750, inputs/scss_css.scss */
E*:hover {
  a: b; }

/* line 754, inputs/scss_css.scss */
E, F {
  a: b; }

/* line 759, inputs/scss_css.scss */
E F {
  a: b; }

/* line 764, inputs/scss_css.scss */
E, F G, H {
  a: b; }

/* line 769, inputs/scss_css.scss */
body {
  /*
   //comment here
   */ }

/* line 776, inputs/scss_css.scss */
E > F {
  a: b; }

/* line 778, inputs/scss_css.scss */
E ~ F {
  a: b; }

/* line 780, inputs/scss_css.scss */
E + F {
  a: b; }

/* line 782, inputs/scss_css.scss */
* {
  a: b; }

/* line 786, inputs/scss_css.scss */
E {
  a: b; }

/* line 790, inputs/scss_css.scss */
E[foo] {
  a: b; }

/* line 794, inputs/scss_css.scss */
E[foo="bar"] {
  a: b; }

/* line 798, inputs/scss_css.scss */
E[foo~="bar"] {
  a: b; }

/* line 802, inputs/scss_css.scss */
E[foo^="bar"] {
  a: b; }

/* line 806, inputs/scss_css.scss */
E[foo$="bar"] {
  a: b; }

/* line 810, inputs/scss_css.scss */
E[foo*="bar"] {
  a: b; }

/* line 814, inputs/scss_css.scss */
E[foo|="en"] {
  a: b; }

/* line 818, inputs/scss_css.scss */
E:root {
  a: b; }

/* line 822, inputs/scss_css.scss */
E:nth-child(n) {
  a: b; }

/* line 826, inputs/scss_css.scss */
E:nth-last-child(n) {
  a: b; }

/* line 830, inputs/scss_css.scss */
E:nth-of-type(n) {
  a: b; }

/* line 834, inputs/scss_css.scss */
E:nth-last-of-type(n) {
  a: b; }

/* line 838, inputs/scss_css.scss */
E:first-child {
  a: b; }

/* line 842, inputs/scss_css.scss */
E:last-child {
  a: b; }

/* line 846, inputs/scss_css.scss */
E:first-of-type {
  a: b; }

/* line 850, inputs/scss_css.scss */
E:last-of-type {
  a: b; }

/* line 854, inputs/scss_css.scss */
E:only-child {
  a: b; }

/* line 858, inputs/scss_css.scss */
E:only-of-type {
  a: b; }

/* line 862, inputs/scss_css.scss */
E:empty {
  a: b; }

/* line 866, inputs/scss_css.scss */
E:link {
  a: b; }

/* line 870, inputs/scss_css.scss */
E:visited {
  a: b; }

/* line 874, inputs/scss_css.scss */
E:active {
  a: b; }

/* line 878, inputs/scss_css.scss */
E:hover {
  a: b; }

/* line 882, inputs/scss_css.scss */
E:focus {
  a: b; }

/* line 886, inputs/scss_css.scss */
E:target {
  a: b; }

/* line 890, inputs/scss_css.scss */
E:lang(fr) {
  a: b; }

/* line 894, inputs/scss_css.scss */
E:enabled {
  a: b; }

/* line 898, inputs/scss_css.scss */
E:disabled {
  a: b; }

/* line 902, inputs/scss_css.scss */
E:checked {
  a: b; }

/* line 906, inputs/scss_css.scss */
E::first-line {
  a: b; }

/* line 910, inputs/scss_css.scss */
E::first-letter {
  a: b; }

/* line 914, inputs/scss_css.scss */
E::before {
  a: b; }

/* line 918, inputs/scss_css.scss */
E::after {
  a: b; }

/* line 922, inputs/scss_css.scss */
E.warning {
  a: b; }

/* line 926, inputs/scss_css.scss */
E#myid {
  a: b; }

/* line 930, inputs/scss_css.scss */
E:not(s) {
  a: b; }

/* line 934, inputs/scss_css.scss */
E F {
  a: b; }

/* line 938, inputs/scss_css.scss */
E > F {
  a: b; }

/* line 942, inputs/scss_css.scss */
E + F {
  a: b; }

/* line 946, inputs/scss_css.scss */
E ~ F {
  a: b; }

@supports (a: b) and (c: d) or (not (d: e)) and ((not (f: g)) or (not ((h: i) and (j: k)))) {
/* line 951, inputs/scss_css.scss */
  .foo {
    a: b; } }
@-prefix-supports (a: b) and (c: d) or (not (d: e)) and ((not (f: g)) or (not ((h: i) and (j: k)))) {
/* line 958, inputs/scss_css.scss */
  .foo {
    a: b; } }
/* line 964, inputs/scss_css.scss */
foo {
  foo: bar;
  #baz: bang;
  #bip: bop; }

/* line 970, inputs/scss_css.scss */
foo {
  a: -2;
  b: -2.3em;
  c: -50%;
  d: -foo(bar baz); }

/* line 977, inputs/scss_css.scss */
foo {
  a: -0.5em;
  b: 0.5em;
  c: -foo(12px);
  d: +foo(12px); }

/* line 987, inputs/scss_css.scss */
foo {
  -moz-foo-bar: blat;
  -o-flat-blang: wibble; }

/* line 991, inputs/scss_css.scss */
foo {
  a: foo();
  b: bar baz-bang() bip; }

/* line 995, inputs/scss_css.scss */
.alpha {
  color: rgba(31, 37, 38, 0.749);
  background-color: #1f2526; }

/* line 1001, inputs/scss_css.scss */
.shortcode-4c29f540779d8549daf934275faea11 {
  color: red; }
