@supports (animation-name: test) {
/* line 2, inputs/supports.scss */
  foo {
    a: b; } }
@supports (transform-origin: 5% 5%) {
/* line 3, inputs/supports.scss */
  foo {
    a: b; } }
@supports selector(A > B) {
/* line 4, inputs/supports.scss */
  foo {
    a: b; } }
@supports not (transform-origin: 10em 10em 10em) {
/* line 5, inputs/supports.scss */
  foo {
    a: b; } }
@supports not (not (transform-origin: 2px)) {
/* line 6, inputs/supports.scss */
  foo {
    a: b; } }
@supports (display: grid) and (display: inline-grid) {
/* line 7, inputs/supports.scss */
  foo {
    a: b; } }
@supports (display: grid) and (not (display: inline-grid)) {
/* line 8, inputs/supports.scss */
  foo {
    a: b; } }
@supports (display: table-cell) and (display: list-item) {
/* line 9, inputs/supports.scss */
  foo {
    a: b; } }
@supports (display: table-cell) and (display: list-item) and (display:run-in) {
/* line 10, inputs/supports.scss */
  foo {
    a: b; } }
@supports (display: table-cell) and ((display: list-item) and (display:run-in)) {
/* line 11, inputs/supports.scss */
  foo {
    a: b; } }
@supports (display: table-cell) and ((display: list-item) or (display:run-in)) {
/* line 12, inputs/supports.scss */
  foo {
    a: b; } }
@supports (transform-style: preserve) or (-moz-transform-style: preserve) {
/* line 13, inputs/supports.scss */
  foo {
    a: b; } }
@supports (transform-style: preserve) or (-moz-transform-style: preserve) or (-o-transform-style: preserve) or (-webkit-transform-style: preserve) {
/* line 15, inputs/supports.scss */
  foo {
    a: b; } }
@supports (transform-style: preserve-3d) or ((-moz-transform-style: preserve-3d) or ((-o-transform-style: preserve-3d) or (-webkit-transform-style: preserve-3d))) {
/* line 18, inputs/supports.scss */
  foo {
    a: b; } }
@supports not ((text-align-last: justify) or (-moz-text-align-last: justify)) {
/* line 19, inputs/supports.scss */
  foo {
    a: b; } }
@supports (--foo: green) {
/* line 20, inputs/supports.scss */
  foo {
    a: b; } }
@supports not selector(:is(a, b)) {
/* line 21, inputs/supports.scss */
  foo {
    a: b; } }
@supports selector(:nth-child(1n of a, b)) {
/* line 22, inputs/supports.scss */
  foo {
    a: b; } }
@supports (feature1: val) {
/* line 30, inputs/supports.scss */
  foo {
    a: b; } }
@supports ((feature1: val)) {
/* line 34, inputs/supports.scss */
  foo {
    a: b; } }
@supports (feature2: val) {
/* line 37, inputs/supports.scss */
  foo {
    a: b; } }
@supports (not (feature23: val4)) {
/* line 40, inputs/supports.scss */
  foo {
    a: b; } }
@supports ((feature1: val) and (feature2: val)) {
/* line 43, inputs/supports.scss */
  foo {
    a: b; } }
@supports ((feature1: val) and (feature2: val)) or (not (feature23: val4)) {
/* line 47, inputs/supports.scss */
  foo {
    a: b; } }
