parameters:
	ignoreErrors:
		-
			rawMessage: 'Method ScssPhp\ScssPhp\Compiler::assertColor() has parameter $value with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Compiler.php

		-
			rawMessage: 'Method ScssPhp\ScssPhp\Compiler::assertColor() return type has no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Compiler.php

		-
			rawMessage: 'Method ScssPhp\ScssPhp\Compiler::assertInteger() has parameter $value with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Compiler.php

		-
			rawMessage: 'Method ScssPhp\ScssPhp\Compiler::assertMap() has parameter $value with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Compiler.php

		-
			rawMessage: 'Method ScssPhp\ScssPhp\Compiler::assertMap() return type has no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Compiler.php

		-
			rawMessage: 'Method ScssPhp\ScssPhp\Compiler::assertNumber() has parameter $value with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Compiler.php

		-
			rawMessage: 'Method ScssPhp\ScssPhp\Compiler::assertString() has parameter $value with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Compiler.php

		-
			rawMessage: 'Method ScssPhp\ScssPhp\Compiler::assertString() return type has no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Compiler.php

		-
			rawMessage: 'Method ScssPhp\ScssPhp\Compiler::compileStringContent() has parameter $string with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Compiler.php

		-
			rawMessage: 'Method ScssPhp\ScssPhp\Compiler::compileValue() has parameter $value with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Compiler.php

		-
			rawMessage: 'Method ScssPhp\ScssPhp\Compiler::getArgumentListKeywords() has parameter $value with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Compiler.php

		-
			rawMessage: 'Method ScssPhp\ScssPhp\Compiler::getArgumentListKeywords() return type has no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Compiler.php

		-
			rawMessage: 'Method ScssPhp\ScssPhp\Compiler::getStringText() has parameter $value with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Compiler.php

		-
			rawMessage: 'Method ScssPhp\ScssPhp\Compiler::isTruthy() has parameter $value with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Compiler.php

		-
			rawMessage: 'Method ScssPhp\ScssPhp\Compiler::legacyValueToValue() has parameter $legacyValue with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Compiler.php

		-
			rawMessage: 'Method ScssPhp\ScssPhp\Compiler::registerFunction() has parameter $callback with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 2
			path: src/Compiler.php

		-
			rawMessage: 'Method ScssPhp\ScssPhp\Compiler::toBool() return type has no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Compiler.php

		-
			rawMessage: 'Method ScssPhp\ScssPhp\Compiler::tryMap() has parameter $item with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Compiler.php

		-
			rawMessage: 'Method ScssPhp\ScssPhp\Compiler::tryMap() return type has no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Compiler.php

		-
			rawMessage: 'Method ScssPhp\ScssPhp\Compiler::valueToLegacyValue() return type has no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Compiler.php

		-
			rawMessage: 'Parameter #1 $stream of class ScssPhp\ScssPhp\Logger\StreamLogger constructor expects resource, resource|false given.'
			identifier: argument.type
			count: 1
			path: src/Compiler.php

		-
			rawMessage: Property ScssPhp\ScssPhp\Compiler::$emptyList has no type specified.
			identifier: missingType.property
			count: 1
			path: src/Compiler.php

		-
			rawMessage: Property ScssPhp\ScssPhp\Compiler::$emptyMap has no type specified.
			identifier: missingType.property
			count: 1
			path: src/Compiler.php

		-
			rawMessage: Property ScssPhp\ScssPhp\Compiler::$emptyString has no type specified.
			identifier: missingType.property
			count: 1
			path: src/Compiler.php

		-
			rawMessage: Property ScssPhp\ScssPhp\Compiler::$false has no type specified.
			identifier: missingType.property
			count: 1
			path: src/Compiler.php

		-
			rawMessage: Property ScssPhp\ScssPhp\Compiler::$null has no type specified.
			identifier: missingType.property
			count: 1
			path: src/Compiler.php

		-
			rawMessage: Property ScssPhp\ScssPhp\Compiler::$true has no type specified.
			identifier: missingType.property
			count: 1
			path: src/Compiler.php

		-
			rawMessage: 'Method ScssPhp\ScssPhp\Deprecation::getObsoleteIn() never returns string so it can be removed from the return type.'
			identifier: return.unusedType
			count: 1
			path: src/Deprecation.php

		-
			rawMessage: 'Method ScssPhp\ScssPhp\Importer\FilesystemImporter::load() never returns null so it can be removed from the return type.'
			identifier: return.unusedType
			count: 1
			path: src/Importer/FilesystemImporter.php

		-
			rawMessage: 'Call to function assert() with false and ''unknown format'' will always evaluate to false.'
			identifier: function.impossibleType
			count: 1
			path: src/Serializer/SerializeVisitor.php

		-
			rawMessage: Negated boolean expression is always true.
			identifier: booleanNot.alwaysTrue
			count: 1
			path: src/Serializer/SerializeVisitor.php

		-
			rawMessage: 'Call to function method_exists() with League\Uri\Contracts\UriInterface and ''resolve'' will always evaluate to true.'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Util/UriUtil.php

		-
			rawMessage: 'Method ScssPhp\ScssPhp\Value\SassMap::tryMap() never returns null so it can be removed from the return type.'
			identifier: return.unusedType
			count: 1
			path: src/Value/SassMap.php
