parameters:
    level: 8
    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: false
    paths:
        - ./src/
    scanDirectories:
        - vendor-bin/phpstan/vendor/symfony/
    ignoreErrors:
        # We want to document the enum as return type, without caring about the exact values.
        -
            message: "#^Method ScssPhp\\\\ScssPhp\\\\Parser\\\\StylesheetParser\\:\\:unaryOperatorFor\\(\\) never returns 'not' so it can be removed from the return type\\.$#"
            count: 1
            path: src/Parser/StylesheetParser.php

        # Ignore errors about not having typehints for definitions of builtin functions. These won't be typed until they are extracted.
        -
            message: "#^Property ScssPhp\\\\ScssPhp\\\\Compiler\\:\\:\\$lib[\\w]+ has no type specified\\.$#"
            path: src/Compiler.php

        -
            message: "#^Method ScssPhp\\\\ScssPhp\\\\Compiler\\:\\:lib[^(]+\\(\\) has no return type specified\\.$#"
            path: src/Compiler.php

        -
            message: "#^Method ScssPhp\\\\ScssPhp\\\\Compiler\\:\\:lib[^(]+\\(\\) has parameter \\$args with no type specified\\.$#"
            path: src/Compiler.php

        -
            message: "#^Method ScssPhp\\\\ScssPhp\\\\Compiler\\:\\:lib[^(]+\\(\\) has parameter \\$kwargs with no type specified\\.$#"
            path: src/Compiler.php

        -
            message: "#^Method ScssPhp\\\\ScssPhp\\\\Parser\\:\\:[^(]+\\(\\) has parameter \\$out with no value type specified in iterable type array\\.$#"
            path: src/Parser.php
