
@import "foo.css";
@import "foo" screen;
@import "http://foo.com/bar";
@import url(foo);

$web-font-path: "https://fontapi.example.com/css?family=Source+Sans+Pro:wght@300;400;700&display=swap" !default;
@import url($web-font-path);

@import "imports/simple";

pre {
    color: red;
    @import "imports/simple.scss";
}

code {
    @import "imports/simple", "imports/simple";
}

@import "imports/partial";

body {
    color: $variable;
    @include partial-mixin();
}

@import "imports/plain";
