// Leading space
@media #{" (max-width: 300px)"} {
  a {
    font-size: 10px;
  }
}

// No space
@media #{"(max-width: 300px)"} {
  a {
    font-size: 10px;
  }
}

// Trailing Space
@media #{"(max-width: 300px) "} {
  a {
    font-size: 10px;
  }
}
