.escape_strings {
  content: "\0";
  content: "\00";
  content: "\000";
  content: "\0000";
  content: "\00000";
  content: "\000000";
  content: "\1";
  content: "\11";
  content: "\111";
  content: "\1111";
  content: "\11111";
  content: "\111111";
  content: "\01";
  content: "\001";
  content: "\0001";
  content: "\00001";
  content: "\000001";
  content: "\2";
  content: "\22";
  content: "\222";
  content: "\2222";
  content: "\22222";
  content: "\222222";
  content: "\3";
  content: "\33";
  content: "\333";
  content: "\3333";
  content: "\33333";
  content: "\333333";
  content: "\4";
  content: "\44";
  content: "\444";
  content: "\4444";
  content: "\44444";
  content: "\444444";
  content: "\5";
  content: "\55";
  content: "\555";
  content: "\5555";
  content: "\55555";
  content: "\555555";
  content: "\6";
  content: "\66";
  content: "\666";
  content: "\6666";
  content: "\66666";
  content: "\666666";
  content: "\7";
  content: "\77";
  content: "\777";
  content: "\7777";
  content: "\77777";
  content: "\777777";
  content: "\8";
  content: "\88";
  content: "\888";
  content: "\8888";
  content: "\88888";
  content: "\888888";
  content: "\9";
  content: "\99";
  content: "\999";
  content: "\9999";
  content: "\99999";
  content: "\999999";
  content: "\a";
  content: "\aa";
  content: "\aaa";
  content: "\aaaa";
  content: "\aaaaa";
  content: "\aaaaaa";
  content: "\b";
  content: "\bb";
  content: "\bbb";
  content: "\bbbb";
  content: "\bbbbb";
  content: "\bbbbbb";
  content: "\c";
  content: "\cc";
  content: "\ccc";
  content: "\cccc";
  content: "\ccccc";
  content: "\cccccc";
  content: "\d";
  content: "\dd";
  content: "\ddd";
  content: "\dddd";
  content: "\ddddd";
  content: "\dddddd";
  content: "\e";
  content: "\ee";
  content: "\eee";
  content: "\eeee";
  content: "\eeeee";
  content: "\eeeeee";
  content: "\f";
  content: "\ff";
  content: "\fff";
  content: "\ffff";
  content: "\fffff";
  content: "\ffffff";
  /* Non printable */
  content: "\0";
  content: "\1";
  content: "\2";
  content: "\3";
  content: "\4";
  content: "\5";
  content: "\6";
  content: "\7";
  content: "\8";
  content: "\9";
  content: "\a";
  content: "\b";
  content: "\c";
  content: "\d";
  content: "\e";
  content: "\f";
  content: "\10";
  content: "\11";
  content: "\12";
  content: "\13";
  content: "\14";
  content: "\15";
  content: "\16";
  content: "\17";
  content: "\18";
  content: "\19";
  content: "\1a";
  content: "\1b";
  content: "\1c";
  content: "\1d";
  content: "\1e";
  content: "\1f";
  content: "\20";
  content: "\21";
  content: "\22";
  content: "\23";
  content: "\24";
  content: "\25";
  content: "\26";
  content: "\27";
  content: "\28";
  content: "\29";
  content: "\2a";
  content: "\2b";
  content: "\2c";
  content: "\2d";
  content: "\2e";
  content: "\2f";
}
