/** what the heck **/
/**

Here is a block comment

**/
/*hello*/
div {
  /*yeah*/
  border: 1px solid red;
  /* another property */
  color: url('http://mage-page.com');
  string: "hello /* this is not a comment */";
  world: "// neither is this";
  string: 'hello /* this is not a comment */';
  world: '// neither is this';
  what-ever: 100px;
  background: url(); }

.dummy {
  color: blue; }

/* comment 1 */
a {
  /* comment 2 */
  /* comment 3 */
  color: red;
  /* comment 4 */
  background-color: red;
  /* comment 5 */
  /* comment 6 */ }

/* comment 7 */
/* коммент */
/* This is a comment with vars references:
color:red
and a fake #{ doing nothing
radius:2px
   and also a #{$fake} interpolation that should not throw an error
 */
.textimage-background-fullheight .background {
  /* @noflip */
  display: block;
  /* hop */
  width: 100%; }

.class {
  /* This is a comment with vars references not on root level
  color:red
  and a fake #{ doing nothing
  radius:2px
     and also a #{$fake} interpolation that should not throw an error
  */ }
