div {
  color: black;
  color: red;
  foo: black, red, #00FF00;
  bar: color, length;
  baz: (color: #fff, color2: red, 'color3': #00FF00, length: 40em);
  foo: (length: 40em);
  bar: true; }

div {
  foo: color black;
  bar: color; }
  .black {
    background-color: #000000 !important; }
  .grey {
    background-color: #888888 !important; }
  .white {
    background-color: #ffffff !important; }

div {
  a: 1;
  b: 2;
  color: 1;
  background-color: 2; }
