a {
  key: 600px;
  key-type: number;
  value: 20px;
  value-type: number;
}
a {
  key: red;
  key-type: color;
  value: blue;
  value-type: color;
}
a {
  key: foo;
  key-type: string;
  value: bar;
  value-type: string;
}
