a {
  b: rgb(var(--foo), 3, 0.4); }

a {
  b: rgba(17, 34, 51, 0.5); }

a {
  b: rgb(0, 0, 255, calc(0.4)); }

a {
  b: rgb(0, 0, 255, var(--foo)); }

a {
  b: rgba(0, 255, 127, 0); }

a {
  b: springgreen; }

a {
  b: rgb(calc(1), 2, 3); }

a {
  b: rgba(var(--foo) / 0.4); }

a {
  b: rgb(calc(1), 2, 3, 0.4); }

basic {
  transparent: rgba(51, 204, 204, 0);
  opaque: #3cc;
  partial: rgba(51, 204, 204, 0.5);
  named: rgba(51, 204, 204, 0.4); }
