@charset "UTF-8";
.result {
  dquoted: "�_\a_\a";
  dquoted: "[�_\a_\a]";
  dquoted: "�_\a_\a";
  dquoted: "�_\a_\a";
  dquoted: "['�_\a_\a']";
  squoted: "�_\a_\a";
  squoted: "[�_\a_\a]";
  squoted: "�_\a_\a";
  squoted: "�_\a_\a";
  squoted: "['�_\a_\a']";
}
