a:before {
    content: '';
}

div::before {
	content: ':)';
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.fancybox-is-hidden {
    position: absolute !important;
}

.fancybox-navigation .fancybox-button {
    transition: opacity .25s ease, visibility 0s ease .25s;
}

@media all and (max-width: 576px) {
  .fancybox-thumbs {
    width: 110px;
  }
}
