$input: '\0_\a_\A';
.result {
  dquoted: "#{#{$input}}";
  dquoted: "#{"[#{$input}]"}";
  dquoted: "#{"#{$input}"}";
  dquoted: "#{'#{$input}'}";
  dquoted: "#{"['#{$input}']"}";
  squoted: '#{#{$input}}';
  squoted: '#{"[#{$input}]"}';
  squoted: '#{"#{$input}"}';
  squoted: '#{'#{$input}'}';
  squoted: '#{"['#{$input}']"}';
}
