name: CI

on:
    push:
        branches: [ main, '[1-9]+.x' ]
    pull_request:

jobs:
    tests:
        name: "Tests on PHP ${{ matrix.php }}${{ matrix.name_suffix }}"
        runs-on: ${{ matrix.os }}

        strategy:
            fail-fast: false
            matrix:
                php: [ '8.1', '8.2', '8.3', '8.4', '8.5' ]
                os: [ubuntu-latest]
                include:
                    - php: '8.4'
                      os: windows-latest
                      name_suffix: ' on Windows'
                    - php: '8.4'
                      os: macos-latest
                      name_suffix: ' on macOS'

        steps:
            -   if: ${{ runner.os == 'Windows' }}
                run: git config --global core.autocrlf false

            -   name: Checkout
                uses: actions/checkout@v4

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    coverage: "none"
                    php-version: "${{ matrix.php }}"
                    ini-file: development

            -   name: Install dependencies
                run: composer update --ansi --no-progress --ignore-platform-req=php+

            -   name: Run tests
                run: vendor/bin/phpunit --colors=always

    static_analysis:
        name: Static analysis
        runs-on: ubuntu-latest

        steps:
            -   name: Checkout
                uses: actions/checkout@v4

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    coverage: "none"
                    php-version: "8.4"
                    ini-file: development

            -   name: Install dependencies
                run: composer update --ansi --no-progress

            -   name: Run phpstan
                run: vendor/bin/phpstan analyse --ansi --no-progress

    coding_styles:
        name: Coding styles
        runs-on: ubuntu-latest

        steps:
            -   name: Checkout
                uses: actions/checkout@v4

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    coverage: "none"
                    php-version: "8.4"
                    ini-file: development

            -   name: Install dependencies
                run: composer update --ansi --no-progress

            -   name: Run phpcs
                run: vendor/bin/phpcs --extensions=php bin src tests
